/* Web Fonts & Fonts */
@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemibold';
    src: url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Reset */

* {outline: none; box-sizing: border-box;}
a {text-decoration: none; cursor: pointer;}
body, html, h1, h2, h3, h4, h5, h6, p, header, footer, div, article, section, aside {padding: 0; margin: 0; position: relative;}
body, html {height: 100%; }

input, select, textarea, button {outline: 0; border: 0; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; border-radius: 0; -webkit-border-radius: 0; }

/* Common Classes */
.wid100 {width:100%; float: left; }
.fleft {float: left;}
.fright {float: right;}
.listn {list-style: none; margin: 0; padding: 0;}
.defimg {width: 100%; height: auto;}
.defimg2 {width: auto; height: auto;}
.coverimg {width: 100%; height: 100%; object-fit: cover;}
.containimg {width: 100%; height: 100%; object-fit: contain;}
.pagewrapper {width: 100%;  margin: 0 auto; max-width: 1024px; padding: 0 25px;}
.pagewrapper2 {width: 100%; margin: 0 auto; max-width: 990px;}
img {@extend .defimg}
.pad-0 { padding: 0px;}



/* Colors & Fonts */
$fontmain: 'montserratregular', Arial, sans-serif;
$fontbold: 'montserratbold', Arial, sans-serif;
$fontmed: 'montserratmedium', Arial, sans-serif;
$fontsemi: 'montserratsemibold', Arial, sans-serif;
$fontlight: 'montserratlight', Arial, sans-serif;

/* Colors */
$white: #fff;
$dgray: #262b35;
$darkgray: #1c2129;
$darkergray: #171b22;
$black: #15181e;
$dblack: #111419;
$gold: #ffe9ae;
$lightgray: #ababab;
$graylink: #efefef;
$lgray: #bababa;
$gray: #696c6d;
$transgold: rgba(255,233,174,0.3);
$transblack: rgba(17,20,25,0.8);

body {font-family: $fontmain; color: $white; background: $darkgray;}

/* Login/Register */
.bgleft, .bgright {width: 50%; float:left; position: fixed; top: 0; bottom: 0; z-index: 1;}
.bgleft {background: $darkgray url(../images/footertail.png) no-repeat left bottom; background-size: 100% auto;  left: 0;}
.bgright {background: $darkergray; right: 0;}

.main-logo {width: 50%; display: table-cell; vertical-align: middle; text-align: center; position: fixed; z-index: 10; padding-top: 15%;@extend .fleft;
	img {max-width: 438px; height: auto; width: 50%;}
}

article.loginreg {width: 53%; float: right; position: relative; top: 15%; right: 0; z-index: 100; padding-bottom: 50px;
	h6 {position: absolute; bottom: -130px; @extend .wid100; text-align: center; left: 0;}
	h6, h6 a {font: 20px/30px $fontmain; text-transform: uppercase; color: $lightgray;  text-align: center;}
	.tabs {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	}


	.tabs label {
	  -webkit-box-ordinal-group: 2;
	  -webkit-order: 1;
	  -ms-flex-order: 1;
	  order: 1;
	  display: block;
	  padding: 1rem 2rem;
	  margin-right: 0.2rem;
	  cursor: pointer;
	  background: transparent; 
	  font: 26px/32px $fontmain;
	  color: $white;
	  font-weight: bold;
	  -webkit-transition: background ease 0.2s;
	  transition: background ease 0.2s;
	  text-transform: uppercase;
	}

	.tabs .tab {
	  -webkit-box-ordinal-group: 100;
	  -webkit-order: 99;
	  -ms-flex-order: 99;
	  order: 99;
	  -webkit-box-flex: 1;
	  -webkit-flex-grow: 1;
	  -ms-flex-positive: 1;
	  flex-grow: 1;
	  width: 100%;
	  display: none;
	  padding: 1rem;
	  background: transparent;
	  border: solid 1px $transgold;
	  border-top: solid 2px $gold;
	  border-right: 0;
	  padding: 65px 20px 40px;
		ul {@extend .listn; max-width: 470px; margin: 0 auto;
			li {@extend .wid100; margin-bottom: 25px;
				label {@extend .wid100; margin-bottom: 15px; font: 24px/36px $fontmain; cursor: default!important; padding: 0!important; text-transform: none!important;}
				input[type="email"], input[type="password"] {@extend .wid100; height: 60px; background: $darkgray; border: solid 1px $gold; padding: 10px 15px; box-sizing: border-box; font: 18px/24px $fontmain; color: $white; border-radius: 5px;}
				input[type="submit"] {font: 24px/36px $fontbold; color: $darkergray; padding: 10px 20px; background: $gold; border: 0; border-radius: 5px;}
				a {color: $lightgray; font: 24px/36px $fontmain}
			}
		}
		section {max-width: 80%; width: 100%; margin: 0 auto; font-size: 20px; line-height: 30px;
			ol {margin: 0 0 20px; padding-left: 25px; font-family: $fontlight;}
			h3 {font-family: $fontsemi; color: $gold;}
		}
		.application-btn {border-top: solid 1px $gold; text-align: center; padding: 40px 0; 
			a {color: $darkergray; padding: 10px 15px; background: $gold; border-radius: 5px; margin: 20px; font-family: $fontmed;}
		}
	}

	.tabs input[type="radio"] {
	  position: absolute;
	  opacity: 0;
	}
	.tabs input[type="radio"] + label {margin-left: 100px;}
	.marg10{margin-left: 10px!important;}
	.tabs input[type="radio"]:checked + label { background: transparent; border: solid 1px $gold; border-bottom: 0; }

	.tabs input[type="radio"]:checked + label + .tab { display: block; }
	
}

/* Header */
header {@extend .wid100; background: $gold; height: 82px; position: absolute; top: 0; z-index: 500; 
	aside {width: 249px; height: 82px; @extend .fleft; text-align: center; background: $darkgray; padding: 5px 0; box-sizing: border-box;
		img {@extend .containimg}
	}
	nav {width: auto; @extend .fright; padding-right: 30px;
		ul {@extend .listn;
			li {display: inline-block; 
				a {height: 81px; @extend .fleft; padding: 25px 20px 0; font: 18px/24px $fontmain; text-transform: uppercase; box-sizing: border-box; color: $black;}
				a:hover {border-bottom: solid 5px $black;}
			}
			li:last-child {
				a {font-family: $fontbold}
			}
			li.active {
				a  {border-bottom: solid 5px $black;}
			}
		}
	}
}




/* Main Container */
h1 {font: 30px/36px $fontbold; color: $gold; margin-bottom: 10px;
	span {@extend .fright; margin-right: 40px;
		select {padding: 10px 40px 10px 10px; color: $white; border: solid 1px $gold; background: $darkergray url(../images/arrowdown.jpg) no-repeat right center; font: 16px/24px $fontmain; }
	}
}
#wrapper {
    padding-left: 37px;
    transition: all .4s ease 0s;
    height: 100%;
    margin-top:0;
    
}

#sidebar-wrapper {
    margin-left: -324px;
    left: 37px;
    width: 324px;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    	.sideprofile {width: 287px; height: 100%;background: $black; border-right: solid 1px $gold; box-sizing: border-box; text-align: center; overflow-y: scroll;
    		.logo {padding: 16px 40px; @extend .wid100;
    			img {@extend .defimg}
    		}
    		.profile {@extend .wid100; margin-top: 30px;
    			aside {width: 190px; height: 190px; margin: 0 auto; background: $darkgray; border-radius: 20px; overflow: hidden;
    				img {border-radius: 20px; @extend .coverimg}
    				div {position: absolute; top: -30px; right: -30px; width: 60px;}
    			}
    			article {@extend .wid100; padding: 10px 20px; box-sizing: border-box;
    				h3 {font: 20px/28px $fontbold; color: $gold; margin-bottom: 5px;}
    				h4, h5 {font: 16px/22px $fontmain; color: $lightgray; margin-bottom: 3px;}
    				h5 {font-style: italic }
    				h6 {font: 14px/20px $fontbold; color: $gold; text-transform: uppercase;}
    			}
    			ul {@extend .listn; @extend .wid100; margin-top: 20px;
    				li {@extend .wid100; padding: 15px 20px; box-sizing: border-box;
    					h4 {font: 30px/36px $fontbold; color: $lgray; margin-bottom: 5px;}
    					h6 {font: 14px/20px $fontmain; color: $lgray; margin-bottom: 5px;}
    					h5 {font:18px/24px $fontlight; color: $gray}
    				}
    				li:nth-child(odd) {background: $dblack;}
    			}

    			ul.rewards {@extend .listn; width: 205px; margin: 20px auto 0; float: none; 
    				li {@extend .wid100; box-sizing: border-box; margin-bottom: 20px;
    					h4 {font: 30px/36px $fontbold; color: $black; margin-bottom: 5px;}
    					h6 {font: 14px/20px $fontmain; color: $black; margin-bottom: 5px; text-transform: uppercase}
    				}
    				li:first-child {background: $gold; padding: 30px 10px; margin-top: 50px;}
    				li {padding-left: 0!important; padding-right: 0!important;
    					a {color: $black; text-transform: uppercase; font: 14px/20px $fontsemi; background: $gold; padding: 15px 0; @extend .wid100; border: solid 2px $gold; box-sizing: border-box;}
    					a:hover, a.active {color: $gold; background: transparent!important; }
    				}
    				li:nth-child(2), li:last-child{padding: 0!important;}
    				
    				
    			}
    			.calendar {@extend .wid100; padding: 0 10px 0 20px; box-sizing: border-box; margin-top: 80px;}
    		}
    	}
    	.sideprofile::-webkit-scrollbar {width: 12px;}
		.sideprofile::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px;}
		.sideprofile::-webkit-scrollbar-thumb {border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
    	.togglebtn {@extend .fright; margin-top: 150px; box-sizing: border-box;}
}

#page-content-wrapper {
    padding-left: 30px;
    margin-left: 0;
    width: 100%;
    height: auto;
    padding-right: 30px;
    margin-bottom: 30px;
    padding-top: 120px;
}
#wrapper.active {
    padding-left: 324px;
}
#wrapper.active #sidebar-wrapper {
    left: 324px;
}


#page-content-wrapper {
  width: 100%;
}


.maincontent {
	.dbleft {width: 67%; @extend .fleft;
		.featured {@extend .wid100; margin-bottom: 20px;
			.slick-prev, .slick-next {position: absolute; top: 45%; left: -30px; z-index: 150; width: 64px; height: 64px; @extend .fleft; background: url(../images/arrowleft.png) no-repeat; box-sizing: border-box; font-size: 0px; cursor: pointer;}
			.slick-prev:hover, .slick-next:hover {opacity: 0.8}
			.slick-next {left: auto; right: -30px; background: url(../images/arrowright.png) no-repeat;}
			ul.featured-news {@extend .listn;
				li {position: relative; max-height: 435px;
					a {color: $gold;
						.caption {@extend .wid100; padding: 15px 30px; box-sizing: border-box; background: $transblack; position: absolute; bottom: 0; left: 0; z-index: 100;
							h3 {font: 20px/26px $fontbold; margin-bottom: 3px;}
							p {font: 18px/24px $fontmain;}
						}
					}
				}
			}
		}

		.events-calendar {@extend .wid100; background: $white; position: relative; height: 270px; color: $black; margin-top: 20px;
			.calendar-container {width: 285px; @extend .fleft; color: $black; position: absolute; top: 0; left: 0; z-index: 100; border-right: solid 10px $darkgray; height: 270px;
				#v-cal .vcal-header {padding: 10px!important; background: $gold; }
			} 
			.events-list {@extend .wid100; height: 270px; overflow-y: scroll; box-sizing: border-box; padding: 10px 20px 0 300px;
				ul {@extend .listn; @extend .wid100;
					li {@extend .wid100; margin-bottom: 10px;
						table {@extend .wid100;
							tr {@extend .wid100;
								td:first-child {width: 80px; text-align: center; vertical-align: middle;
									h3 {@extend .wid100; text-align: center; font: 24px/30px $fontsemi;}
								}
								td:last-child {text-align: left; vertical-align: middle; width: auto;
									ul {@extend .wid100; @extend .listn; 
										li {@extend .wid100;
											a {font: 16px/24px $fontmain; color: $black;}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.top-sellers {width: 30%; @extend .fright; height: 100%; background: $black; padding: 25px 35px; box-sizing: border-box; border-bottom: solid 30px $darkgray;
		h2 {font: 28px/34px $fontbold; text-transform: uppercase; padding-bottom: 10px; border-bottom: solid 1px $gold; text-align: center;}
		ul {@extend .listn; @extend .wid100; margin-top: 30px;
			li {position:relative; @extend .wid100; margin-bottom: 20px;
				figure {width: 100px; height: 100px; position: absolute; left: 0; top: 0; margin: 0; padding: 0; overflow: hidden;
					img {@extend .coverimg; border-radius: 15px;}
					div {background: $darkgray; width: 25px; height: 25px; border: solid 1px $gold; position: absolute; top: 0; left: 0; z-index: 100; text-align: center; padding-top: 2px; box-sizing: border-box;}
				}
				figcaption {@extend .wid100; padding-left: 120px; box-sizing: border-box; min-height: 100px;
					h4 {font: 16px/22px $fontbold; color: $white; margin-bottom: 3px;}
					h5 {font: 14px/20px $fontmain; color: $lightgray;}
					h5 + h5 {font-style: italic;}
					h6 {font: 14px/20px $fontmain; color: $gold;}
				}
			}
		}
	}

	/* Sales */
	.sales-content {@extend .wid100;
		table {width: 100%; height: 100%}
		
		.sales {width: 98%; box-sizing: border-box; height: 100%;
			.filter {@extend .wid100; background: $black; padding: 10px; box-sizing: border-box; position:relative; border: solid 1px $gold; margin-bottom: 15px; z-index: 101;
			label {width: 100px; position: absolute; top: 13px; left: 10px; text-transform: uppercase; font: 16px/20px $fontlight; color: $gold;}
			ul {@extend .wid100; @extend .listn; padding-left: 95px; box-sizing: border-box;
				li {width: 30%; @extend .fleft; display: table-cell; padding-right: 10px; box-sizing: border-box;
					input[type="date"], select {@extend .wid100; height: 28px; padding: 3px 5px; border: solid 1px $lightgray; background: $darkgray; font: 14px/20px $fontmain; color: $white; text-transform: uppercase;}
					select {background: $darkgray url(../images/arrowdown.jpg) no-repeat right center;}
					input[type="date"] {background: $darkgray url(../images/calendar.jpg) no-repeat right center;}
					input::-webkit-inner-spin-button{opacity: 0;}
					input::-webkit-calendar-picker-indicator{opacity: 0;}
				}
				li:last-child {position: absolute; top: 10px; right: 10px; z-index: 100; width: 70px;
					input[type="submit"] {@extend .wid100; background: $gold; color: $black; font: 14px/20px $fontmed; padding: 5px; box-sizing: border-box; height: 28px;}
				}
			}
		}
			article {@extend .wid100; z-index: 100;

				table {width: 100%; border: solid 1px $gold; margin-bottom: 30px;
					tr, thead{ @extend .wid100;  border-bottom: solid 1px $gold; background: $darkergray;
						td:first-child { width: 40%; float: left; text-align: left;}
						td {width: 20%; float: left; padding: 10px; text-align: center; 
							label {display: none; width: auto!important;  margin-bottom: 5px; font-family: $fontbold;margin-right: 15px;}
						}
					}
					thead {background: $darkergray!important}
					tr:last-child {border: 0;}
					tr:nth-child(odd) {background: $dgray}
					tr:first-child {font-family: $fontbold; background: $black!important}
				}
				table.rewards-history {
					td {wdith: 25%!important}
					td:first-child {width: 50%;}
				}
			}
			.pagination {@extend .wid100; margin: 10px 0; position: relative;
				label {width: 60px; position: absolute; top: 4px; left:0;}
				ul {@extend .listn; @extend .wid100; padding-left: 65px; box-sizing: border-box;
					li {display: inline-block; margin-right: 5px;
						a {color: $graylink; padding: 3px 10px; border: solid 1px $darkgray; @extend .fleft}
						a.active, a:hover {border: solid 1px $gold;}
					}
				}
			}
		}
		td.current-sales {width: 225px; background: $darkergray; height: 100%; text-align: center;
			h4 {font: 14px/20px $fontbold; color: $gold; margin-bottom: 15px; text-transform: uppercase;}
			h3 {font: 24px/30px $fontbold; color: $white; letter-spacing: 1px}
		}
	}

	/* Rewards Catalogue */
	.pagewrapper {
		ul.catalogue {@extend .wid100; @extend .listn; margin: 20px 0 20px -40px;
			li {width: 50%; float:left!important; padding-left: 40px; box-sizing: border-box; position: relative!important; border-bottom: solid 30px $darkgray; overflow: hidden;  
				article.reward {@extend .wid100; height: 325px; box-sizing: border-box; overflow: hidden; background: $white;
					div {@extend .wid100; position: absolute; background: $transblack; padding: 15px; box-sizing: border-box; border: solid 1px $gold; bottom: 0;
						h3 {font: 18px/24px $fontmed; color: $gold;
							span {@extend .fright; color: $white;}
						}
					}
					img {width: 100%!important; height: 100%; object-fit: cover!important }
				}
			}
		}

		ul.events {@extend .wid100; @extend .listn; margin: 20px 0 20px -40px;
			li {width: 50%; float:left!important; padding-left: 40px; box-sizing: border-box; position: relative!important; border-bottom: solid 30px $darkgray; overflow: hidden;  
				article.reward {@extend .wid100; height: 325px; box-sizing: border-box; background: $black;
					div {@extend .wid100; position: absolute; background: $black; padding: 15px; box-sizing: border-box; border: solid 1px $gold; bottom: 0;
						h3 {font: 24px/30px $fontmed; color: $gold;text-align: center;}
						
					}
					img {width: 100%!important; height: 100%; object-fit: cover!important }
				}
			}
		}
	}
}

/* Magnific Popup */
.white-popup {
  position: relative;
  background: $black;
  padding: 35px;
  width: auto;
  max-width: 60%;
  margin: 20px 20%;
  border: solid 1px $gold;
  float: left;
}

#rewards-details {
	h3 {font: 36px/42px $fontmed; text-align: center; color: $white; margin-bottom: 30px; @extend .wid100; letter-spacing: 5px;}
	aside {width: 45%; @extend .fleft;
		img {@extend .defimg}
	}
	article {width: 50%; @extend .fright;
		h4 {font: 22px/28px $fontmed; color: $white; margin-bottom: 10px;
			span {color: $gold}
		}
		p {font: 20px/26px $fontmain; color: $white; margin-bottom: 20px;}
		h5 {@extend .wid100; margin-bottom: 30px;
			input[type="checkbox"] {border: solid 1px $gold; width: 30px; height: 30px; margin-right: 20px; float: left;}
			input[type="checkbox"]:checked {background: url(../images/checkbox.png) no-repeat center center;}
			
			span {float: left; padding-top: 5px;
				a {color: $gold; text-decoration: underline; font: 18px/24px $fontmain;}
			}
		}
		input[type="submit"] {background: $gold; padding: 15px 20px; font: 18px/24px $fontmed; color: $black;}
	}

}

.event-details {
	h3 {font: 36px/42px $fontmain; text-align: center; color: $white; margin-bottom: 20px; @extend .wid100;}
	aside {width: 45%; @extend .fleft;
		img {@extend .defimg}
	}
	article {width: 50%; @extend .fright;
		h4 {font: 22px/28px $fontmed; color: $white; margin-bottom: 10px;
			span {color: $gold}
		}
		p {font: 20px/26px $fontmain; color: $white; margin-bottom: 20px;}

		h5 {@extend .wid100; margin-top: 100px;
			input[type="checkbox"] {border: solid 1px $gold; width: 30px; height: 30px; margin-right: 20px; float: left;}
			input[type="checkbox"]:checked {background: $gold}
			
			span {float: left; padding-top: 5px;
				a {color: $gold; text-decoration: underline; font: 18px/24px $fontmain;}
			}
		}
		input[type="submit"] {background: $gold; padding: 15px 20px; font: 18px/24px $fontmed; color: $black;}
	}

}

.content-container {@extend .wid100; margin: 20px 0;
	p {font: 18px/30px $fontmain; color: $white;}
}

/* My Account */
.myaccount {
	section {@extend .wid100; z-index: 100;
		h4, h5 {font: 20px/26px $fontmed; color: $gold; margin-bottom: 5px;}
		ul {@extend .listn; @extend .wid100; margin-bottom: 10px;
			li {width: 50%; display: table-cell; @extend .fleft; padding-right: 25px; box-sizing: border-box; margin-bottom: 15px; 
				label {@extend .wid100; margin-bottom: 5px; font: 16px/22px $fontmain;
					span {font-size: 12px;}
				}
				input, select {@extend .wid100; padding: 5px 10px; background: transparent; box-sizing: border-box; border: solid 1px $gold; height: 36px; font: 16px/22px $fontmain; color: $white; }
			}
		}
		h5 {color: $white;}
		h6 {font: 16px/22px $fontmain; margin-bottom: 5px;
			span {font-size: 12px;}
		}
		ul.choice {
			li {position: relative;
				input[type="radio"] {width: 25px!important; height: 25px!important; @extend .fleft; position: absolute; top:0; left: 0; border-radius: 50%; -webkit-border-radius: 50%;}
				label {padding-left: 40px; box-sizing: border-box; padding-top: 5px;}
				input[type="radio"]:checked {background: url(../images/radio.png) no-repeat center center;}
			}
		}
		.inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		.inputfile + label {
		    font: 16px/24px $fontbold;
		    color: $black;
		    background: $gold;
		    border-radius: 5px; 
		    padding: 5px 10px;
		    width: 140px;
		    text-align: center;
		    display: inline-block;
		    border: solid 2px $gold;
		}

		.inputfile:focus + label,
		.inputfile + label:hover {
		    background-color: transparent;
		    color: $gold;
		}
	}
	.personal-info {
		li:nth-child(5), li:last-child {width: 100%;}
	}
	input[type="submit"] {padding: 8px 30px; background: $gold; color: $black; font: 18px/24px $fontbold; text-transform: uppercase; border-radius: 5px; border: solid 2px $gold;}
	input[type="submit"]:hover {color: $gold; background: transparent;}
}

/* Jpushmenu */
nav.cbp-spmenu {background: $darkgray;
	button {position: relative; right: 0; top: 5px; @extend .fright; z-index: 1000; color: $white; font: 14px/20px $fontmain; background: transparent;}
	ul {
		li {width: 100%!important; display:block!important;
			a {font: 16px/22px $fontmain; color: $white;}
		}
	}
	
}
.menu {position: absolute; right: 10px; background: $darkgray; color: $white; padding: 10px; font: 16px/24px $fontbold; top:15px; display: none }

/* Jpushmenu */


/* Responsive Google Map/Youtube Video */
.googleMaps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.googleMaps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; 
    overflow: hidden;
    margin-bottom: 20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* IE Edge only CSS*/
 @supports (-ms-ime-align:auto) {
 	
 }

/* IE 10+ only CSS*/
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   .containimg, header aside img {width: 150px!important; height: auto!important; object-fit: initial!important;}
   #sidebar-wrapper .sideprofile .profile aside img, .maincontent .top-sellers ul li figure img, .maincontent .pagewrapper ul.catalogue li article.reward img, .maincontent .pagewrapper ul.events li article.reward img {height: auto!important; object-fit: initial!important;}
   h1 span select, .maincontent .sales-content .sales .filter ul li select {padding-right:6px!important; background-image: none!important;}

}





/*===============Peter 5-28-18===============*/
.projects { 
	.project-list { padding: 0px; margin: 0; list-style-type: none; margin-top: 25px;

		li { width: 33%; display: inline-block; padding: 0px 12.5px; margin-bottom: 35px;
			figure { max-width: 337px; width: 100%;height: 263px; margin: 0 auto; border: 2px solid #cfae79;
				img { width: 100%; height: 100%; object-fit: cover;}
			}
		}

	}
}


.projects-inner {

	.prjinner-hldr { margin-top: 30px;

		> aside { width: 20%; float: left;

			> figure { max-width: 295px; width: 100%; height:230px; margin: 0 auto;
				img { height: 100%; object-fit: cover;}
			}

			> article { padding: 33px 23px;
				> ul {
					> li { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #353942;}

				}
				h5 { font-family: $fontbold; font-size: 15px; margin-bottom: 18px;}
				p { font-family: $fontmain; font-size: 20px;}
			}

		} 

		> article { width: 78%; float: right;

			.updates {
				.update-list { margin-bottom: 40px;}
				h5 { font-family: $fontmain; color: $white; font-size: 14px; margin-bottom: 15px; padding-left: 15px;}

				li { width: 33%; display: inline-block; padding: 0px 15px; margin-bottom: 25px;

					figure {  width: 100%; height: 153px; margin: 0 auto;

						img { width: 100%; height: 100%; object-fit: cover;}

					}

				}
			}

			.dwnld { 
				> ul { padding-left: 25px;

					> li { width: 100%; margin-bottom: 20px;
						> a { text-decoration: underline; font-family: $fontmain; color: $white; font-size: 18px;}

					}


				}
			}

			.gallery {

				.main { width: 100%; max-width: 850px; margin: 0 auto;}
				.slider-nav { 
					figure { margin: 0; padding: 20px;}
				}

				.slider-for {
					figure { height: 500px; margin: 0;
						img { width: 100%; object-fit: cover; height: 100%;}
					}
				}
				
				.slick-slide.slick-current { width: 100%;}

				.slider.slider-for.slick-initialized.slick-slider { min-height: 500px;}
			
				.slick-prev {     background-image: url(../images/arrow-left.png); text-indent: -999px; width: 26px; height: 44px; background-size: contain; background-color: transparent; background-repeat: no-repeat; position: absolute; left: 0; top: 50%; z-index: 1; color: transparent;}

				.slick-next { background-image: url(../images/arrow-right.png); text-indent: -999px; width: 26px; height: 44px; background-size: contain; background-color: transparent; background-repeat: no-repeat; position: absolute; right: 0; top: 50%; color: transparent;}
			}
		}
	} 

	.tab {overflow: hidden; border-bottom: 1px solid #ffebba; }


	.tab button {
	    background-color: inherit;
	    float: left;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    padding: 18px 24px;
	    transition: 0.3s;
	    font-size: 17px;
	    color: $white; 
	    font-family: $fontbold;
	    border: 1px solid transparent;
	}
	
	.tabcontent {
		height: 0;
	    padding: 15px;
	    -webkit-animation: fadeEffect 1s;
	    animation: fadeEffect 1s;
	    
	}


	.tab button.active {
   		border: 1px solid #ffebba; border-bottom: 0px;
	}


	@-webkit-keyframes fadeEffect {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}

	@keyframes fadeEffect {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
}

.galleria{ max-width: 100%; height: 400px; background: transparent; }
.galleria-container.notouch.galleria-theme-classic { max-width: 724px!important; width: 100%!important; margin: 0 auto;}
.galleria-image .galleria-layer { width: 100%!important; left: 0!important;}
.galleria-image img { width: 100%!important; left: 0!important;}
.galleria-image-nav .galleria-image-nav-left{ background-image: url(../images/arrow-left.png)!important; opacity: 1!important; }
.galleria-image-nav .galleria-image-nav-right{ background-image: url(../images/arrow-right.png)!important; opacity: 1!important;  width: 50px!important; right: -10px!important; background-position: center!important;}


#wrapper.active .projects .project-list li figure{ max-width: 100%;}
.gallery .slider-nav .slick-dots { display: none!important;}